*{
    padding: 0%;
    margin: 0%;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/LoginBg.jpg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}

.title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.form{
    padding: 10px;
    width: 80vw;
    max-width: 500px;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
    max-width: 500px;
    box-sizing: border-box;
    height: fit-content;
}
.formTitle{
    text-align: center;
    margin: 10px auto;
    font-size: 25px;

}
.errorMsg{
    color: red;
    font-weight: bold;
    text-align: center;
}
.inpWrapper{
    display: flex;
    gap:2px;
    width: 100%;
    margin: 10px auto;
    border: .5px solid black;
    padding: 0px 15px;
    align-items: center;
    box-sizing: border-box;
}

.formInput{
    max-width: 300px;
    min-width: 100px;
    height: 25px;
    border: 0px;
    margin-left: 5px;
    background: transparent;
    padding: 5px;
}
.formInput:focus{
    outline: 0px;
}

.submitBtn{
    width: 100%;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    color: rgba(234, 111, 132, 0.718);
    background: transparent;
    border: 2px solid rgba(234, 111, 132, 0.718);
    border-radius: 10px;
}

.submitBtn:hover{
    background-color: rgba(234, 111, 132, 0.718);
    color: white;
    
}

.msg{
    text-align: center;
    margin: 10px auto;
}
.navLink{
    color: rgba(234, 111, 132, 0.718);
    cursor:grab;
    font-weight: bold;
}